
<div class="instruments-container">
  <h1> Instruments </h1>
  <% @instruments.each do |instrument| %>
    <div class= "instrument-container"> 
    <% if instrument.image.present? %>
      <div class= "instrument-img"> 
          <%=link_to image_tag(instrument.image, :class => "thumbnail"), instsample_path(instrument.name)%>
      </div>
      <% end %>
      <div class= "instrument-info-container"> 
        <div class= "instrument-info">
          <span>Name:</span> <%= instrument.name%> <br>
          <span>Family:</span> <%= instrument.family %> <br>
          <span>Country:</span> <%= instrument.country %> <br>
        </div>
        <div class= "instrument-description">
          <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et possimus eligendi vero tempore minima, velit, ratione unde perferendis nulla quasi accusantium architecto cupiditate dolore sunt, porro accusamus nesciunt voluptatem magnam.
        </div>
      </div>
    </div>
  <% end %>
</div>
