<h1> Instruments </h1>

<% @instruments.each do |instrument| %>
<% if instrument.image.present? %>
  <%=link_to image_tag(instrument.image, :class => "feature"), instsample_path(instrument.name)%>
<% end %>
  <div>
     <p>
       | Name: <%= instrument.name%>
       | Family: <%= instrument.family %>
       | Country: <%= instrument.country %>
     </p>
  </div>
<% end %>
