body {
  background-color: rgb(221, 155, 57);
  color: rgb(47, 54, 59);
}

.container, .nav{
  max-width: 1100px;
  margin: 0 auto;
}

.thumb{
  max-width: 400px;
  min-width: 300px;
  max-height: 400px;
  min-height: 300px;
  border: 2px solid rgb(131, 91, 58) ;
}
.feature{
  max-width: 400px;
  min-width: 300px;
  max-height: 400px;
  min-height: 300px;
  border: 2px solid rgb(131, 91, 58) ;
}
