/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #2a2e31;
   color: white;
 }

.navbar{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  background-color: #191919;
}

.nav-item > a {
  color:white;
  align-self: flex-end;
}

.imgcontainer {
  margin: 0 auto;
  background-image: url("/assets/SEbackground.png");
  
} 

.img img{
 width: 100%;
 display: flex;
}

.thumbnail{
  max-width: 400px;
  max-height: 400px;
  min-width: 400px;
  min-height: 400px;
}

.homeimage{
  max-width: 100%;
  max-height: 100%;
  display: block;

}

.login-container {
  margin-top: 40px;
}

.try{
  display: flex;
  flex-direction: row;
}

/* ///////////////////  Instruments View Page   ///////////////////   */
.instruments-container {
  background-color: #00000008;
  max-width: 1140px;
  margin-top: 40px;
}

.instruments-container h2 {
  margin-left: 30px;
}

.instrument-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 25px 0 25px 0;
  background-color: #00000052;
  color: #ffffffc9;
  border-radius: 15px;
}


.instrument-info-container {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.instrument-img {
  flex:1;
}

.instrument-info span {
 color: #c3925e;
 font-weight: 600;
}


/* ///////////////////  Instrument Samples View Page   ///////////////////   */
.instrument-samples-container {
  background-color: #00000008;
  max-width: 1140px;
  margin-top: 40px;
}

.instruments-container h2 {
  margin-left: 30px;
}

.instrument-sample-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 25px 0 25px 0;
  background-color: #00000052;
  color: #ffffffc9;
  border-radius: 15px;
}


.instrument-sample-info-container {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.instrument-img {
  flex:1;
}

.sample-info span {
 color: #c3925e;
 font-weight: 600;
}

/* ///////////////////  Artists View Page   ///////////////////   */
.artists-container {
  background-color: #00000008;
  max-width: 1140px;
  margin-top: 40px;
}

.artists-container h2 {
  margin-left: 30px;
}

.artist-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 25px 0 25px 0;
  background-color: #00000052;
  color: #ffffffc9;
  border-radius: 15px;
}


.artist-info-container {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.artist-img {
  flex: 1;
}

.artist-info span {
 color: #c3925e;
 font-weight: 600;
}



